.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(24px + 2vmin);
  margin: 0.5%;
}

.songSelect {
  margin: 0.5%;
  display: flex;
}

.selectionLabel {
  margin: 1%;
}

.songRater {
  white-space: nowrap;
}

.ratingLabel {
  margin: 2%;
}

songRating {
  margin: 2%;
}

.saveRating {
  margin: 1%;
}

p {
  margin: 1%;
}